<footer class="site-footer">
  <div class="site-footer__inner">

    <p class="site-footer__claim">
      Artesanía, diseño y creatividad hecha con calma.
    </p>

    <div class="site-footer__content">

      <a
        class="brand-mark site-footer__brand"
        href="./index.html"
        aria-label="Fet a Mà"
      >
        <span class="brand-mark__symbol">F</span>
        <span class="brand-mark__text">Fet a Mà</span>
      </a>

      <nav
        class="site-footer__nav"
        aria-label="Navegación secundaria"
      >

        <a
          class="site-footer__link interactive-link"
          href="./index.html"
        >
          Portada
        </a>

        <a
          class="site-footer__link interactive-link"
          href="./speakers.html"
        >
          Artículo
        </a>

        <a
          class="site-footer__link interactive-link"
          href="./article.html"
        >
          Jornadas
        </a>

        <a
          class="site-footer__link interactive-link"
          href="./extra.html"
        >
          Contacto
        </a>

      </nav>

      <ul
        class="site-footer__social-list"
        aria-label="Redes sociales"
      >

        <li>
          <a
            class="site-footer__social-link interactive-circle"
            href="#"
            aria-label="Instagram"
          >
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>

        <li>
          <a
            class="site-footer__social-link interactive-circle"
            href="#"
            aria-label="Facebook"
          >
            <i class="fa-brands fa-facebook-f"></i>
          </a>
        </li>

        <li>
          <a
            class="site-footer__social-link interactive-circle"
            href="#"
            aria-label="X"
          >
            <i class="fa-brands fa-x-twitter"></i>
          </a>
        </li>

      </ul>

    </div>

  </div>
</footer>