@use "../globals" as *;
@import 'https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap';



  .type-xxl {font-size: $font-size-xxl;
    line-height: 0.9;
     font-family: $font-display;
  }

  .type-xl {
    font-size: $font-size-xl;
    line-height: 0.95;
     font-family: $font-display;
  }

  .type-lg {
   font-size: $font-size-lg;
    line-height: 1.15;
  }

  .type-md {
    font-size: $font-size-md;
    line-height: 1.1;
  }

  .type-base {
    font-size: $font-size-base;
    line-height: 1.5;
  }

  .type-sm {
    font-size: $font-size-sm;
    line-height: 1.5;
  }

  